<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ma Jiang Game Management Tool</title>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script type='text/javascript' language='javascript' src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script type='text/javascript' language='javascript' src="https://cdn.bootcss.com/echarts/3.3.0/echarts.common.min.js"></script>
    <script type='text/javascript' language='javascript' src="mjcounter.js"></script>
    <link rel="stylesheet" href="mjcounter.css">
</head>

<body>
    <div id="container" class="mobile only">
        <h2 class="ui center aligned icon header">
            <i class="circular users icon"></i>
            Ma Jiang Game Management Tool
        </h2>
        <h3 class="ui warning message">
            <i class="warning circle icon"></i>
            适度游戏益脑，沉迷游戏伤身，合理安排时间，享受健康生活
        </h3>
        <div id="data">
            <div id="header" class="ui sixteen column grid">
                <div class="two wide column">Index</div>
                <div class="three wide column">
                    <label class="ui mini action input" id="newPlayer_1">
                        <input type="text" placeholder="10 chars" v-model="newPlayer_1" size="10" maxlength="10">
                        <button class="mini ui compact basic button" v-on:click="inputPlayer($event)"><i class="checkmark icon"></i></button>
                    </label>
                    <div class="floating ui red label">{{winRoundInfo[0]}}</div>
                </div>
                <div class="three wide column">
                    <label class="ui mini action input" id="newPlayer_2">
                        <input type="text" placeholder="10 chars" v-model="newPlayer_2" size="10" maxlength="10">
                        <button class="mini ui compact basic button" v-on:click="inputPlayer($event)"><i class="checkmark icon"></i></button>
                    </label>
                    <div class="floating ui teal label">{{winRoundInfo[1]}}</div>
                </div>
                <div class="three wide column">
                    <label class="ui mini action input" id="newPlayer_3">
                        <input type="text" placeholder="10 chars" v-model="newPlayer_3" size="10" maxlength="10">
                        <button class="mini ui compact basic button" v-on:click="inputPlayer($event)"><i class="checkmark icon"></i></button>
                    </label>
                    <div class="floating ui blue label">{{winRoundInfo[2]}}</div>
                </div>
                <div class="three wide column">
                    <label class="ui mini action input" id="newPlayer_4">
                        <input type="text" placeholder="10 chars" v-model="newPlayer_4" size="10" maxlength="10">
                        <button class="mini ui compact basic button" v-on:click="inputPlayer($event)"><i class="checkmark icon"></i></button>
                    </label>
                    <div class="floating ui green label">{{winRoundInfo[3]}}</div>
                </div>
                <div class="two wide column">Action</div>
            </div>
            <div class="ui sixteen column grid">
                <div class="center aligned two wide column">
                    <i class="pointing right icon"></i>
                </div>
                <div class="twelve wide column">
                    <div class="ui form">
                        <div class="four inline fields">
                            <div class="field">
                                <input type="radio" name="win" checked="" tabindex="0" class="hidden">
                                <input type="tel" placeholder="Number" disabled="" v-model="newRound_1" size="5" maxlength="5" class="numberbox">
                            </div>
                            <div class="field">
                                <input type="radio" name="win" tabindex="1" class="hidden">
                                <input type="tel" placeholder="Number" v-model="newRound_2" size="5" maxlength="5" class="numberbox">
                            </div>
                            <div class="field">
                                <input type="radio" name="win" tabindex="2" class="hidden">
                                <input type="tel" placeholder="Number" v-model="newRound_3" size="5" maxlength="5" class="numberbox">
                            </div>
                            <div class="field">
                                <input type="radio" name="win" tabindex="3" class="hidden">
                                <input type="tel" placeholder="Number" v-model="newRound_4" size="5" maxlength="5" class="numberbox">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two wide column">
                    <button class="fluid ui icon button" v-on:click="addNewRound()">
                        <i class="plus icon"></i>
                    </button>
                </div>
            </div>
            <div id="roundsInfo" class="ui sixteen column grid" v-if="rounds.length > 0" v-for="(round, index) in rounds">
                <div class="middle aligned center aligned two wide column">{{ index+1 }}</div>
                <div class="middle aligned center aligned three wide column">
                    {{round[0]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{round[1]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{round[2]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{round[3]}}
                </div>
                <div class="two wide column">
                    <button class="fluid ui icon button" v-on:click="removeRound(index)">
                        <i class="remove icon"></i>
                    </button>
                </div>
            </div>
            <h3 class="ui horizontal divider header"><i class="bar chart icon"></i> Stats</h3>
            <div class="ui sixteen column grid">
                <div class="eight wide column" id="pie1" style="height: 300px;"></div>
                <div class="eight wide column" id="pie2" style="height: 300px;"></div>
            </div>
            <div class="ui sixteen column grid" id="allMerge">
                <div class="middle aligned center aligned two wide column"><strong>Sum</strong></div>
                <div class="middle aligned center aligned three wide column">
                    {{sumData[0]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumData[1]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumData[2]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumData[3]}}
                </div>
                <div class="two wide column">
                </div>
            </div>
            <div class="ui sixteen column grid" id="allPercentage">
                <div class="middle aligned center aligned two wide column"><strong>Percent</strong></div>
                <div class="middle aligned center aligned three wide column">
                    {{sumPercentage[0]}}%
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumPercentage[1]}}%
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumPercentage[2]}}%
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumPercentage[3]}}%
                </div>
                <div class="two wide column">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="text-center">Copyright © 2016 | Designed by <i class="github icon"></i> <a href="https://github.com/Rvtea/MaJiangCounter" target=_new>Yuan Xiao</a>
        </p>
    </div>
</body>

</html>