<html>

<head>
    <meta charset="UTF-8">
    <title>Ma Jiang Game Management Tool</title>
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script type='text/javascript' language='javascript' src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js"></script>
    <script type='text/javascript' language='javascript' src="mjcounter.js"></script>
    <link rel="stylesheet" href="mjcounter.css">
    <title> JavaScript Timer on Webpage
    </title>
</head>

<body>
    <div id="container" class="mobile only">
        <h2 class="ui center aligned icon header">
            <i class="circular users icon"></i>
            Ma Jiang Game Management Tool
            </h2>
        <div id="data">
            <div id="header" class="ui sixteen column grid">
                <div class="two wide column">Index</div>
                <div class="three wide column">
                    <label>Kan</label>
                </div>
                <div class="three wide column">
                    <label>Jun</label>
                </div>
                <div class="three wide column">
                    <label>Hao</label>
                </div>
                <div class="three wide column">
                    <label>Kang</label>
                </div>
                <div class="two wide column">Action</div>
            </div>
            <div class="ui sixteen column grid">
                <div class="center aligned two wide column">
                    <i class="pointing right icon"></i>
                </div>
                <div class="twelve wide column">
                    <div class="ui form">
                        <div class="four fields">
                            <div class="field">
                                <input type="text" pattern="\d*" placeholder="Number" v-model="newRound_1" size="5" maxlength="5">
                            </div>
                            <div class="field">
                                <input type="text" pattern="\d*" placeholder="Number" v-model="newRound_2" size="5" maxlength="5">
                            </div>
                            <div class="field">
                                <input type="text" pattern="\d*" placeholder="Number" v-model="newRound_3" size="5" maxlength="5">
                            </div>
                            <div class="field">
                                <input type="text" pattern="\d*" placeholder="Number" v-model="newRound_4" size="5" maxlength="5">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two wide column">
                    <button class="fluid ui icon button" v-on:click="addNewRound()">
                        <i class="plus icon"></i>
                    </button>
                </div>
            </div>
            <div class="ui sixteen column grid" v-if="rounds.length > 0" v-for="(round, index) in rounds">
                <div class="middle aligned center aligned two wide column">{{ index+1 }}</div>
                <div class="middle aligned center aligned three wide column">
                    {{round[0]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{round[1]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{round[2]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{round[3]}}
                </div>
                <div class="two wide column">
                    <button class="fluid ui icon button" v-on:click="removeRound(index)">
                        <i class="remove icon"></i>
                    </button>
                </div>
            </div>
            <div class="ui sixteen column grid" id="allMerge">
                <div class="middle aligned center aligned two wide column"><strong>Sum</strong></div>
                <div class="middle aligned center aligned three wide column">
                    {{sumData[0]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumData[1]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumData[2]}}
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumData[3]}}
                </div>
                <div class="two wide column">
                </div>
            </div>
            <div class="ui sixteen column grid" id="allPercentage">
                <div class="middle aligned center aligned two wide column"><strong>Percent</strong></div>
                <div class="middle aligned center aligned three wide column">
                    {{sumPercentage[0]}}%
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumPercentage[1]}}%
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumPercentage[2]}}%
                </div>
                <div class="middle aligned center aligned three wide column">
                    {{sumPercentage[3]}}%
                </div>
                <div class="two wide column">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p class="text-center">Copyright © 2016 | Designed by <a href="https://github.com/Rvtea/MaJiangCounter" target=_new>Yuan Xiao</a>
        </p>
    </div>
</body>

</html>