body {
    font-size: 20px;
    /*max-width: 600px;*/
    margin: 30px 15px 50px 15px;
    background-color: #F5F5F5 !important;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "AppleSDGothicNeo-Light" !important;
    padding: 10px 0px;
}

#header {
    margin-top: 30px;
    text-align: center
}

.ui.floating.label {
    top: -0.5em;
    margin: 0 0 0 -3.5em !important;
}

#container {
    /*max-width: 600px;*/
    height: auto !important;
    height: 100%;
    margin: 0px 0px 50px 0px;
    padding: 10px 10px 100px 10px;
    /*box-shadow: 10px 20px 60px 0px #e3d6c7;
    -webkit-box-shadow: 10px 20px 60px 0px #e3d6c7;*/
}

.number {
    font-size: 40px;
}

.info-left {
    text-align: left;
}

.exchange-calculation {
    text-align: center;
    font-size: 42px;
    font-family: "AppleSDGothicNeo-Light" !important;
}

.info-right {
    text-align: right;
}

.info-left,
.info-right {
    font-size: 22px;
}

.footer {
    position: fixed;
    margin-left: -15px;
    bottom: 0;
    width: 100%;
    background-color: #EEE;
    box-sizing: border-box;
    height: 65px;
    padding: 20px 15px;
}